<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="jquery.js"></script>
    <link rel="stylesheet" th:href="@{/app.css}" />
    <title>Boggle Game</title>
</head>
<body>

<div id="boggle-container">
    <img src="/images/logo.jpg" class="logo" />
    <div id="timeContainer">
        <p>Session will end in <span class="js-timeout">2:00</span>.</p>

        <button id="js-startTimer">Start Countdown</button>
        <button id="js-resetTimer">Stop &amp; Reset</button>
    </div>
    <div id="board" class="allButtons">
        <div class="row" id="text" >
            <div class="boggle" onclick="myFunction(this)">
                <span><input type = "button" value="D" class="button"/></span>

            </div>

            <div class="boggle" onclick="myFunction(this)">
                <span><input type = "button" value="L" class = "button2"/></span>
            </div>

            <div class="boggle" onclick="myFunction(this)">
                <span><input type = "button" value="P" class = "button3"/></span>
            </div>

            <div class="boggle" onclick="myFunction(this)">
                <span><input type = "button" value="A" class = "button4"/></span>
            </div>
        </div>

        <div class="row">
            <div class="boggle" onclick="myFunction(this)">
                <span><input type = "button" value="E" class = "button5"/></span>
            </div>
            <div class="boggle" onclick="myFunction(this)">
                <span><input type = "button" value="I" class = "button6"/></span>
            </div>
            <div class="boggle" onclick="myFunction(this)">
                <span><input type = "button" value="T" class = "button7"/></span>
            </div>
            <div class="boggle" onclick="myFunction(this)">
                <span><input type = "button" value="G" class = "button8"/></span>
            </div>

        </div>
        <div class="row">
            <div class="boggle" onclick="myFunction(this)">
                <span><input type = "button" value="O" class = "button9"/></span>
            </div>
            <div class="boggle" onclick="myFunction(this)">
                <span><input type = "button" value="N" class = "button10"/></span>
            </div>
            <div class="boggle" onclick="myFunction(this)">
                <span><input type = "button" value="U" class = "button11"/></span>
            </div>
            <div class="boggle" onclick="myFunction(this)">
                <span><input type = "button" value="N" class = "button12"/></span>
            </div>
        </div>
        <div class="row">
            <div class="boggle" onclick="myFunction(this)">
                <span><input type = "button" value="O" class = "button13"/></span>
            </div>
            <div class="boggle" onclick="myFunction(this)">
                <span><input type = "button" value="Q" class = "button14"/></span>
            </div>
            <div class="boggle" onclick="myFunction(this)">
                <span><input type = "button" value="E" class = "button15"/></span>
            </div>
            <div class="boggle" onclick="myFunction(this)">
                <span><input type = "button" value="U" class = "button16"/></span>
            </div>

        </div>

    </div>
    <div id="word-submit">
        <form action="/game" method="get"><span><strong>Current Word:</strong>
            <input class="form2" name="playerInput" type="text" placeholder="Enter words here..." required="required" autocomplete="off"/>
        </span></form>
        <!--<button type="button">Submit Word</button>-->
    </div>
    <table id="score-table">
        <tr>
            <th>Word </th>
            <th>Score</th>
        </tr>
        <div th:each="word : ${enteredWords}">
        <tr>
            <td th:text="@{${word.name}}"></td>
            <td th:text="@{${word.points}}"></td>
        </tr>
        </div>
        <tr id="footer">
            <td>Total </td>
            <td th:text="@{${sum}}"></td>
        </tr>
    </table>
</div>
<script src="index.js"></script>
<script>
    function myFunction(divObj) {
        divObj.style.background.toggle="#8fce6f";
    }
</script>
</body>
</html>